<!DOCTYPE html>
<html ng-app="week4prep">
    <head>
        <title>Edit our Entry</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="javascript/app.js" type="text/javascript"></script>
    </head>
    <body >
      <form>
      	<table>
      		<tr>
      			<th> title: </th>
      			<th><input type="text" name="title"></th>
	      	<tr>
	      	<tr>
      			<th> release date: </th>
      			<th><input type="text" name="releaseDate"></th>
	      	<tr>
	      	<tr>
      			<th> duration:  </th>
      			<th><input type="text" name="duration"></th>
	      	<tr>
	      	<tr>
      			<th> genre:  </th>
      			<th> <input type="text" name="genre"></th>
	      	<tr>
	      	<tr>
      			<th> synopsis: </th>
      			<th><input type="text" name="synopsis"</th>
	      	<tr>
	      	<br>
	    </table>
      	<input type = "submit">
      </form>

        </div>
    </body>
</html>