<!DOCTYPE html>
<html ng-app="week4prep">
    <head>
        <title>Our Movie Catalogue</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="javascript/app.js" type="text/javascript"></script>
        <!-- BOOTSTRAP Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- BOOTSTRAP jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- BOOTSTRAP Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body >
    <div class="container">
        <div ng-controller="myController">
            <h2>Movie Review</h2>
            <table class="table table-striped" ng-repeat="item in data">
                <tr>
                    <td> title: </td>
                    <td> {{item.title}} </td>
                </tr>
                <tr>
                    <td>release date: </td>
                    <td>{{item.releaseDate}}</td>
                </tr>
                <tr>
                    <td>duration:</td>
                    <td>{{item.duration}}</td>
                </tr>
                <tr>
                    <td>genre:</td>
                    <td>{{item.genre}}</td>
                </tr>
                <tr>
                    <td>synopsis: </td>
                    <td>{{item.synopsis}}</td>
                </tr>
            </table>
        </div>
        <form action="/" ng-submit="submit()" name="myForm" ng-controller="moviePostController" novalidate>

            <!-- Add form validation here (client side) -->
            <h2>Change the review:</h2><br/>
            <table class="table table-striped">
                <tr>
                    <td>Title !:</td>
                    <td><input type="text" size="40" ng-model="title" required></td>
                    <div ng-show="myForm.$submitted || myForm.title.$touched">
                        <div ng-show="myForm.title.$error.required">This is required</div>
                    </div>

                </tr>
                <tr>
                    <td>Release Date:</td>
                    <td><input type="text" size="40" ng-model="releaseDate" required></td>
                    <span ng-show="myForm.releaseDate.$touched || myForm.releaseDate.$invalid">The name is required.</span>
                    </p>
                </tr>
                <tr>
                    <td>Duration:</td>
                    <td><input type="text" size="40" ng-model="duration" required></td>
                </tr>
                <tr>
                    <td>Genre:</td>
                    <td><input type="text" size="40" ng-model="genre" required></td>
                </tr>
                <tr>
                    <td>Synopsis:</td>
                    <td><input type="text" size="40" ng-model="synopsis" required/></td>
                    <p ng-show="myForm.synopsis.$invalid"> Enter a synopsis please</p>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="btn" type="submit" id="submit" value="submit" ></td> <!--ng-disabled="myForm.$isValid"-->
                </tr>
            </table>
        </form>
    </div>
    </body>
</html>