<!DOCTYPE html>
<html ng-app="week4prep">
    <head>
        <title>Our Movie Catalogue</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="javascript/app.js" type="text/javascript"></script> <!-- not created yet -->
    </head>
    <body >
        <div ng-controller="myController">
        <ul ng-repeat="item in data">
        	<li> title: {{item.title}} </li>
        	<li> release date: {{item.releaseDate}}</li>
        	<li> duration: {{item.duration}}</li>
        	<li> genre: {{item.genre}}</li>
        	<li> synopsis: {{item.synopsis}}</li>
        </ul>

        </div>
    </body>
</html>